*{
    margin: 0;
    padding: 0;
}
body{
    width: 70%;
    margin: 0 15%;
}
.heading{
    background-color: greenyellow;
    padding: 30px 50px;
    border-bottom-left-radius: 25px;
}
.btn-div{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.add{
    background-color: black;
    color: white;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    font-weight: bolder;
    font-size: 16px;
}
.add:hover{
    background-color: blue;
    color: black;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.6);
}
.note{
    background-color: #fff;
    margin: 30px 20px;
    height: 200px;
    width: 400px;
    overflow-y: scroll;
    margin-top: 6rem;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1),
        inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.note textarea{
    outline: none;
    border: none;
    height: 300px;
    width: 100%;
    padding-top: 20px;
}
.operation{
    display: flex;
    justify-content: space-between;
}
.edit, .delete{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.edit{
    background-color: #fff;
    color: green;
}
.delete{
    background-color: #fff;
    color: red;
}
.main{
    display: inline;

}
.hidden{
    display: none;
}